<nav class="sub-container">
  <ul class="sidenav-content gradient-custom">
    <li *ngFor="let group of groups" class="side-group-item">
      <button (click)="onGroupClick(group)" class="side-btn-group btn btn-primary">
        {{ group.name }}
      </button>
    </li>
    <li class="side-group-item">
      <button class="side-btn-group btn btn-primary" data-bs-toggle="modal" data-bs-target="#groupModal">+</button>
    </li>
  </ul>
</nav>

<!-- Reusable Modal Component for adding a new group -->
<app-modal 
  [title]="'Add New Group'" 
  [modalId]="'groupModal'" 
  (save)="addNewGroup()">
  <div modal-body>
    <div class="mb-3">
      <label for="groupName" class="form-label">Group Name</label>
      <input type="text" class="form-control" id="groupName" [(ngModel)]="newGroupName">
    </div>
    <div class="mb-3">
      <label for="groupDescription" class="form-label">Group Description</label>
      <textarea class="form-control" id="groupDescription" [(ngModel)]="newGroupDescription"></textarea>
    </div>
  </div>
</app-modal>