<footer class="footer bg-dark text-white-50 py-3 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-white">About Us</h5>
                <p>
                    This was done by sajonasJ for the pursposes of the course Software Frameworks.
                </p>
            </div>
            <div class="col-md-4">
                <h5 class="text-white">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white-50" routerLink="/home">Home (not working)</a></li>
                    <li><a class="text-white-50" routerLink="/about">About (not working)</a></li>
                    <li><a class="text-white-50" routerLink="/contact">Contact (not working)</a></li>
                    <li><a class="text-white-50" routerLink="/privacy-policy">Privacy Policy (not working)</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-white">Follow Us</h5>
                <a href="#" class="text-white-50 me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-white-50 me-3"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-white-50 me-3"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>