:host {
  display: block;
  width: 100%;
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-brand img {
  height: 50px;
  width: auto;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-link i {
  font-size: 20px;
  margin-right: 5px;
}

.nav-link h5 {
  margin: 0;
  font-size: 20px;
}

@media (max-width: 768px) {
  .navbar-brand img {
    height: 40px;
  }

  .nav-link {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .navbar-brand img {
    height: 30px;
  }

  .nav-link {
    font-size: 14px;
  }
}