<div class="content-container p-4 bg-light rounded shadow" *ngIf="selectedGroup">
  <div class="welcome-message mb-3">
    Welcome to <span class="group-name text-primary">{{ selectedGroup.name }}</span>
  </div>
  <p class="instructions text-muted">You can start by posting a message to the group.</p>

  <!-- Button to trigger modal for adding a new post -->
  <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#addPostModal"
    (click)="postToEdit = null">
    Add New Post
  </button>

  <!-- Include the Add Post Modal Component -->
  <app-add-post-modal [postToEdit]="postToEdit" (postAdded)="handlePostAdded($event)"
    (postEdited)="handlePostEdited($event)">
  </app-add-post-modal>

  <!-- Display Posts -->
  <div class="post-container mt-4" *ngFor="let post of selectedGroup.posts">
    <div class="card mb-3">
      <div class="card-body">
        <div class="card-title-container">
          <h5 class="card-title">{{ post.name }}</h5>
          <div class="card-title-btns">
            <!-- Add Comment Button -->
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="showCommentInput(post)">
              Add Comment
            </button>
            <!-- Edit Post Button -->
            <button type="button" class="btn btn-sm btn-outline-primary" aria-label="Edit"
              (click)="editPost(post)">Edit</button>
            <!-- Delete Post Button -->
            <button type="button" class="btn-close" aria-label="Delete" (click)="deletePost(post)"></button>
          </div>
        </div>
        <p class="card-text">{{ post.postText }}</p>

        <br>

        <!-- Toggle Comments Button -->
        <button class="btn btn-link text-primary p-0 mt-2" data-bs-toggle="collapse"
          [attr.data-bs-target]="'#comments-' + post.id" aria-expanded="false" aria-controls="collapseExample"
          [disabled]="!post.comments.length"> <!-- Disable when no comments -->
          Comments ({{ post.comments.length }})
        </button>
        <br>

        <!-- Comment Input Section -->
        <div *ngIf="postCommentingOn === post" class="mt-3">
          <textarea class="form-control" [(ngModel)]="newCommentText" placeholder="Write a comment..." rows="2"
            maxlength="500"></textarea>
          <small class="text-muted">{{ newCommentText.length }}/500 characters</small>
          <br>
          <div class="comment-btns">
            <button class="btn btn-primary mt-2 me-2" [disabled]="newCommentText.length > 500"
              (click)="saveComment(post)">
              {{ commentToEdit ? 'Save' : 'Add' }}
            </button>
            <button class="btn btn-secondary mt-2" (click)="cancelComment()">Cancel</button>
          </div>
        </div>

        <!-- Collapsible Comments Section -->
        <div [id]="'comments-' + post.id" class="collapse mt-3">
          <div class="list-group">
            <div *ngFor="let comment of post.comments"
              class="list-group-item d-flex justify-content-between align-items-start">
              <div>
                <div class="d-flex align-items-center mb-2">
                  <strong class="comment-name">{{ comment.name }}</strong>
                </div>
                <p class="mb-0">{{ comment.text }}</p>
              </div>
              <div class="card-title-btns">
                <!-- Edit Comment Button -->
                <button type="button" class="btn btn-sm btn-outline-primary me-2" aria-label="Edit Comment"
                  (click)="showCommentInput(post, comment)">Edit</button>
                <!-- Delete Comment Button -->
                <button type="button" class="btn btn-sm btn-outline-danger" aria-label="Delete Comment"
                  (click)="deleteComment(post, comment)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>