<section class="sub-container">
  <!-- Group Header -->
  <div *ngIf="selectedGroup" class="group-header">
    <h2>{{ selectedGroup.name }}</h2>
    <p>{{ selectedGroup.description }}</p>
  </div>

  <!-- Channel Container -->
  <div class="channel-container" *ngIf="selectedGroup">
    <div class="channel-container-btn">
      <h3>Channels</h3>
      <button class="btn btn-primary btn-sm custom-btn-height">Add</button>
    </div>
    <ul class="list-group">
      <!-- Make the list item visually identifiable as clickable -->
      <li class="list-group-item clickable" *ngFor="let channel of selectedGroup.channels"
        (click)="selectChannel(channel)">
        {{ channel.name }}
      </li>
    </ul>
  </div>

  <!-- Message Container -->
  <div class="message-container" *ngIf="selectedChannel">
    <div class="channel-container-btn">
      <h4>{{ selectedChannel.name }}</h4>
      <button class="btn btn-primary btn-sm custom-btn-height">Add Message</button>
    </div>
    <p>{{selectedChannel.description}}</p>

    <div class="messages-list">
      <div class="message-card card mb-2" *ngFor="let message of selectedChannel.messages">
        <div class="card-body">
          <h5 class="card-title">{{ message.name }}</h5>
          <p class="card-text">{{message.text}}</p>
          <!-- Flex container for timestamp and buttons -->
          <div class="d-flex justify-content-between align-items-end">
            <div>
              <p class="card-text small mb-0">
                Time: {{ message.timestamp | date:'hh:mm a z' }}
              </p>
              <p class="card-text small mb-0">
                Date: {{ message.timestamp | date:'dd/MM/yy' }}
              </p>
            </div>
            <div>
              <button class="btn btn-sm btn-outline-primary me-2">Edit</button>
              <button class="btn btn-sm btn-outline-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>