<section class="sub-container">
  <!-- Placeholder when no group is selected -->
  <div *ngIf="!selectedGroup && !showSettings" class="placeholder-message">
    <div class="p-m">
      <h2>No Group Selected</h2>
      <p>Please select a group to view its channels and messages.</p>
    </div>
  </div>

  <!-- Group details and channels when a group is selected -->
  <div class="channel-container" *ngIf="selectedGroup && !showSettings">
    <div class="group-header container pb-0">
      <h2>Group: "{{ selectedGroup.name }}"</h2>
      <p>Description: {{ selectedGroup.description }}</p>

      <!-- Button to Navigate to Settings -->
      <button class="btn btn-sm btn-primary ms-1" (click)="toSettings()">
        <i class="bi bi-three-dots"></i> Settings
      </button>

      <!-- Channels Section -->
      <div class="channel-container-btn mt-3">
        <h3>&#64;Channels</h3>
        <div class="ctrl-sim-btn" *ngIf="isAdmin()">
          <button class="btn btn-success btn-sm custom-btn-height" data-bs-toggle="modal"
            data-bs-target="#channelModal">
            <span class="material-symbols-outlined">add</span>
          </button>
        </div>
      </div>
    </div>

    <!-- Request to Join Button (only if user is not in the group) -->
    <button class="btn btn-sm btn-primary ms-1 mt-3" *ngIf="!isUser()" (click)="requestToJoin()">
      Request to Join
    </button>


    <!-- List Channels if the user is part of the group -->
    <ul class="list-group" *ngIf="isUser()">
      <li class="list-group-item clickable" *ngFor="let channel of selectedGroup?.channels"
        (click)="selectChannel(channel)">
        # {{ channel.name }}
        <button class="btn btn-sm btn-danger ms-1" *ngIf="isAdmin()" (click)="confirmDeleteChannel(channel)">
          <span class="material-symbols-outlined">delete</span>
        </button>
      </li>
    </ul>
  </div>

  <!-- Message Container -->
  <div class="message-container mt-4" *ngIf="selectedChannel && !showSettings">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 class="mb-0"># {{ selectedChannel.name }}</h4>
    </div>

    <p>-{{ selectedChannel.description }}</p>

    <!-- List Messages -->
    <div class="messages-list">
      <div class="message-card card mb-2" *ngFor="let message of selectedChannel.messages">
        <div class="card-body">
          <h5 class="card-title">{{ message.name }}</h5>
          <p class="card-text">{{ message.text }}</p>
          <div class="d-flex justify-content-between align-items-end">
            <div>
              <p class="card-text small mb-0">
                Time: {{ message.timestamp | date:'hh:mm a z' }}
              </p>
              <p class="card-text small mb-0">
                Date: {{ message.timestamp | date:'dd/MM/yy' }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Settings Component -->
  <app-settings *ngIf="showSettings && selectedGroup" [selectedGroup]="selectedGroup"
    (close)="closeSettings()"></app-settings>
</section>

<!-- Modal to Add New Channel -->
<div class="modal fade" id="channelModal" tabindex="-1" aria-labelledby="channelModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="channelModalLabel">Add New Channel</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="channelName" class="form-label">Channel Name</label>
          <input type="text" class="form-control" id="channelName" [(ngModel)]="newChannelName">
        </div>
        <div class="mb-3">
          <label for="channelDescription" class="form-label">Channel Description</label>
          <textarea class="form-control" id="channelDescription" [(ngModel)]="newChannelDescription"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addNewChannel()" data-bs-dismiss="modal">Save
          Channel</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Delete Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the channel "{{ channelToDelete?.name }}"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onConfirmDelete()" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>