<main class="main-container">
  <!-- Header Component -->
  <app-header></app-header>
  <section class="section-container">
    <!-- Welcome Message -->
    <div class="welcome-message gradient-custom text-center">
      <h1 class="text-white-60">Team Yaaper</h1>
      <p class="lead text-white-60">Connecting gamers, one chat at a time.</p>
    </div>
    <div class="sub-section">

    <!-- Quotes Section -->
    <div class="quotes-container mt-4">
      <div class="quote-card p-4 mb-3 rounded shadow-sm">
        <p class="mb-1">"The art of winning a game lies in collaboration."</p>
        <footer class="blockquote-footer">Team Yaaper</footer>
      </div>

      <div class="quote-card p-4 mb-3 rounded shadow-sm">
        <p class="mb-1">"Great games happen when gamers connect."</p>
        <footer class="blockquote-footer">Team Yaaper</footer>
      </div>

      <div class="quote-card  p-4 mb-3 rounded shadow-sm">
        <p class="mb-1">"Your voice, your team, your way."</p>
        <footer class="blockquote-footer">Team Yaaper</footer>
      </div>

      <div class="quote-card p-4 mb-3 rounded shadow-sm">
        <p class="mb-1">"Collaborating games through conversations."</p>
        <footer class="blockquote-footer">Team Yaaper</footer>
      </div>

      <div class="quote-card  p-4 mb-3 rounded shadow-sm">
        <p class="mb-1">"Chat today, game tomorrow."</p>
        <footer class="blockquote-footer">Team Yaaper</footer>
      </div>
    </div>
  </div>
  </section>
  <app-footer></app-footer>
</main>