<div class="modal fade" id="{{modalId}}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered custom-modal-height">
    <div class="modal-content">
      <div class="modal-header gradient-custom">
        <h5 class="modal-title" id="modalLabel">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Content projection -->
        <ng-content select="[modal-body]"></ng-content>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSave()" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>