:host {
    display: block;
    height: 100vh;
    box-sizing: border-box;
}

.card {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.login-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(76, 77, 79);
    color: whitesmoke;
}

.login-page-container {
    min-height: 100vh;
}

a.nav-link,
a.login-link {
    text-decoration: none;
}

.section-container {
    background-image: url('/pixel3.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    padding: 20px;

}