:host {
    display: block;
    height: 100vh;
}

.login-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(76, 77, 79) ;
    color:whitesmoke ;
}

a.nav-link,
a.login-link {
    text-decoration: none;
}