<main class="main-container">
  <app-header></app-header>
  <section class="section-container">
    <div *ngIf="isSignIn; else signUpTemplate">
      <app-login></app-login>
      <p>Create an Account? <a class="login-link" (click)="toastShow()">Sign up</a></p>
    </div>

    <ng-template #signUpTemplate>
      <app-sign-up></app-sign-up>
      <p>Already have an account? <a class="login-link" (click)="switchToSignIn()">Login in</a></p>
    </ng-template>
  </section>
  <app-footer></app-footer>
</main>