/* You can add global styles to this file, and also import other style files */
@import 'material-symbols';

html,
body,
:host,
.main-container {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: 'Exo 2', sans-serif;
    background-color: rgb(221, 221, 221);
    color: #6c757d;
    flex: 1;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    flex:1;
    min-height: 80%;
}

/* Specific font usage for Anton */
h1,
h2,
h3,
.primary-button,
.heading,
.title {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}

/* Styling for chat messages */
.chat-message {
    font-weight: 400;
}

/* Styling for usernames */
.username {
    font-weight: 600;
}

/* Styling for notifications and alerts */
.notification {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}

.gradient-custom {
    background: linear-gradient(to right, #27064a 0%, #4589ff 100%);
    color: rgb(230, 230, 230);

}