/* You can add global styles to this file, and also import other style files */
@import 'material-symbols';

html,
body,
:host,
.main-container {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: 'Exo 2', sans-serif;
    background-color: rgb(221, 221, 221);
    color: #6c757d;
    flex: 1;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    flex: 1;
    min-height: 80%;
}

h1,
h2,
h3,
.primary-button,
.heading,
.title {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}

.chat-message {
    font-weight: 400;
}


.username {
    font-weight: 600;
}


.notification {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}

.gradient-custom {
    background: linear-gradient(to right, #27064a 0%, #4589ff 100%);
    color: rgb(230, 230, 230);

}

ul {
    list-style-type: none;
}

td {
    margin: 0;
}

thead {
    text-align: center;
}


li {
    display: flex;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-toast-position {
    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-toast-position .toast {
    animation: slideInBottom 0.5s, fadeOut 0.5s 3.5s;
}

@keyframes slideInBottom {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}