<main class="main-container">
    <!-- Header Component -->
    <app-header></app-header>

    <!-- Main Content Section -->
    <section class="section-container container py-3">

        <!-- List of Users -->
        <div class="card mb-3">
            <div class="card-header gradient-custom py-2">
                <h5 class="mb-0">Users</h5>
            </div>
            <!-- <div class="card"> -->
            <table class="table table-sm table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles.join(', ') }}</td>
                        <td class="btn-center">
                            <button class="btn btn-success btn-sm me-1" (click)="makeSuper(user)"> <span class="material-symbols-outlined">
                                upgrade
                                </span></button>
                            <button class="btn btn-danger btn-sm"> <span class="material-symbols-outlined">
                                delete_forever
                                </span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- </div> -->

        <!-- List of Groups -->
        <div class="card mb-3">
            <div class="card-header gradient-custom py-2">
                <h5 class="mb-0">Groups</h5>
            </div>

            <table class="table table-sm table-bordered">
                <thead class="table-light">
                    <tr>
                        <th>Group Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let group of groups">
                        <td>{{ group.name }}</td>
                        <td>{{ group.description }}</td>
                        <td class="btn-center">
                            <button class="btn btn-success btn-sm" (click)="addGroup(group)"><span class="material-symbols-outlined">
                                group_add
                                </span></button>
                            <button class="btn btn-danger btn-sm" (click)="deleteGroup(group)"><span class="material-symbols-outlined">
                                delete_forever
                                </span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </section>

    <!-- Footer Component -->
    <app-footer></app-footer>
</main>