<main class="main-container">
    <!-- Header Component -->
    <app-header></app-header>

    <!-- Main Content Section -->
    <section class="section-container container py-3">
        <!-- List of Users -->
        <div class="card mb-3">
            <div class="card-header py-2">
                <h5 class="mb-0">List of Users</h5>
            </div>
            <div class="card-body p-2">
                <table class="table table-sm table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles.join(', ') }}</td>
                            <td class="text-center">
                                <button class="btn btn-success btn-sm me-1" (click)="makeSuper(user)"> <i
                                        class="bi bi-arrow-up-circle"></i></button>
                                <button class="btn btn-danger btn-sm"> <i class="bi bi-trash3-fill"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- List of Groups -->
        <div class="card mb-3">
            <div class="card-header py-2">
                <h5 class="mb-0">List of Groups</h5>
            </div>
            <div class="card-body p-2">
                <table class="table table-sm table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th>Group Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let group of groups">
                            <td>{{ group.name }}</td>
                            <td>{{ group.description }}</td>
                            <td class="text-center">
                                <button class="btn btn-danger btn-sm" (click)="deleteGroup(group)"><i
                                        class="bi bi-trash3"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Footer Component -->
    <app-footer></app-footer>
</main>